In [3]:
import sqlite3

# Connect to the database
conn = sqlite3.connect("cricsheet_database.db")
cursor = conn.cursor()

In [5]:
# SQL query to find top 10 batsmen by total runs
query = """
SELECT 
    Batter AS Batsman,
    SUM("Batter_Runs") AS Total_Runs
FROM 
    test_matches
GROUP BY 
    Batter
ORDER BY 
    Total_Runs DESC
LIMIT 10;
"""

# Execute the query
cursor.execute(query)
results = cursor.fetchall()

# Display the results
print("Top 10 Batsmen by Total Runs in Test Matches:")
for row in results:
    print(f"{row[0]}: {row[1]} runs")

Top 10 Batsmen by Total Runs in Test Matches:
JE Root: 11281 runs
AN Cook: 11268 runs
SPD Smith: 8717 runs
V Kohli: 8138 runs
KS Williamson: 8046 runs
HM Amla: 8044 runs
KC Sangakkara: 7587 runs
DA Warner: 7548 runs
AB de Villiers: 7218 runs
AD Mathews: 7024 runs

In [10]:
import sqlite3

# Connect to the database
conn = sqlite3.connect("cricsheet_database.db")
cursor = conn.cursor()  # Create a cursor object

# Define the query
query_odi = """
SELECT 
    Batter AS Batsman,
    SUM(Batter_Runs) AS Total_Runs
FROM odi_matches
GROUP BY Batsman
ORDER BY Total_Runs DESC
LIMIT 10;
"""

try:
    # Execute the query
    cursor.execute(query_odi)
    results = cursor.fetchall()

    # Display the results
    print("Top 10 Batsmen by Total Runs in ODIs:")
    for row in results:
        print(f"Batsman: {row[0]}, Total Runs: {row[1]}")

except sqlite3.Error as e:
    print("An error occurred:", e)

finally:
    # Close the cursor and connection
    cursor.close()
    conn.close()

Top 10 Batsmen by Total Runs in ODIs:
Batsman: V Kohli, Total Runs: 13784
Batsman: KC Sangakkara, Total Runs: 11618
Batsman: RG Sharma, Total Runs: 10646
Batsman: MS Dhoni, Total Runs: 10274
Batsman: AB de Villiers, Total Runs: 9435
Batsman: TM Dilshan, Total Runs: 9212
Batsman: LRPL Taylor, Total Runs: 8126
Batsman: DPMD Jayawardene, Total Runs: 8040
Batsman: HM Amla, Total Runs: 7834
Batsman: Tamim Iqbal, Total Runs: 7648

In [11]:
import sqlite3

# Connect to the database
conn = sqlite3.connect("cricsheet_database.db")
cursor = conn.cursor()  # Create a cursor object

# Define the query
query_odi = """
SELECT 
    Batter AS Batsman,
    SUM(Batter_Runs) AS Total_Runs
FROM t20_matches
GROUP BY Batsman
ORDER BY Total_Runs DESC
LIMIT 10;
"""

try:
    # Execute the query
    cursor.execute(query_odi)
    results = cursor.fetchall()

    # Display the results
    print("Top 10 Batsmen by Total Runs in T20s:")
    for row in results:
        print(f"Batsman: {row[0]}, Total Runs: {row[1]}")

except sqlite3.Error as e:
    print("An error occurred:", e)

finally:
    # Close the cursor and connection
    cursor.close()
    conn.close()

Top 10 Batsmen by Total Runs in T20s:
Batsman: RG Sharma, Total Runs: 3256
Batsman: Babar Azam, Total Runs: 3249
Batsman: V Kohli, Total Runs: 3090
Batsman: MJ Guptill, Total Runs: 2902
Batsman: JC Buttler, Total Runs: 2672
Batsman: Mohammad Rizwan, Total Runs: 2643
Batsman: DA Warner, Total Runs: 2584
Batsman: S Mandhana, Total Runs: 2551
Batsman: AJ Finch, Total Runs: 2470
Batsman: SW Bates, Total Runs: 2381

In [24]:
import sqlite3

# Connect to the database
connection = sqlite3.connect('cricsheet_database.db')
cursor = connection.cursor()

# SQL query to find the highest wicket-taker
query = """
SELECT 
    Bowler AS Highest_Wicket_Taker,
    COUNT(Player_Out) AS Total_Wickets
FROM 
    t20_matches
WHERE 
    Bowler IS NOT NULL 
    AND Bowler != ''
    AND Player_Out IS NOT NULL 
    AND Player_Out != '0'
GROUP BY 
    Bowler
ORDER BY 
    Total_Wickets DESC
LIMIT 1;
"""

try:
    # Execute the query
    cursor.execute(query)
    result = cursor.fetchone()
    
    if result:
        print(f"Highest Wicket Taker: {result[0]}, Total Wickets: {result[1]}")
    else:
        print("No data found for highest wicket-taker.")
except sqlite3.Error as e:
    print(f"An error occurred: {e}")
finally:
    # Close the database connection
    connection.close()

Highest Wicket Taker: TG Southee, Total Wickets: 175

In [32]:
import sqlite3

# Connect to the database
connection = sqlite3.connect('cricsheet_database.db')
cursor = connection.cursor()

# SQL query to find the top 5 teams with the highest win percentage
query = """
SELECT 
    Team AS Team_Name,
    COUNT(CASE WHEN Match_Winner = Team THEN 1 END) * 100.0 / COUNT(*) AS Win_Percentage
FROM 
    odi_matches
GROUP BY 
    Team
ORDER BY 
    Win_Percentage DESC
LIMIT 5;
"""

try:
    # Execute the query
    cursor.execute(query)
    results = cursor.fetchall()
    
    # Display the results
    print("Top 5 Teams with the Highest Win Percentage in ODI Cricket:")
    for rank, row in enumerate(results, start=1):
        print(f"{rank}. {row[0]} - {row[1]:.2f}%")
except sqlite3.Error as e:
    print(f"An error occurred: {e}")
finally:
    # Close the connection
    connection.close()

Top 5 Teams with the Highest Win Percentage in ODI Cricket:
1. Thailand - 90.07%
2. Asia XI - 74.07%
3. Australia - 66.89%
4. South Africa - 60.29%
5. India - 58.87%

In [7]:
import sqlite3

# Connect to the database
connection = sqlite3.connect('cricsheet_database.db')
cursor = connection.cursor()

# SQL query to find toss match outcome percentages that add up to 100%
query = """
SELECT 
    CASE 
        WHEN Toss_Winner = Match_Winner THEN 'Toss Winner Wins Match'
        ELSE 'Toss Winner Loses Match'
    END AS Toss_Match_Outcome,
    COUNT(*) AS Match_Count
FROM 
    t20_matches
GROUP BY 
    Toss_Match_Outcome;

"""

# Execute the query
cursor.execute(query)

# Fetch and print the results
results = cursor.fetchall()
total_matches = sum(row[1] for row in results)  # Calculate the total number of matches

# Adjust percentages to ensure they sum to 100%
adjusted_results = [(row[0], row[1], round((row[1] / total_matches) * 100, 2)) for row in results]

# Display the results
for outcome, count, percentage in adjusted_results:
    print(f"{outcome}: {count} matches, {percentage}%")

# Close the connection
connection.close()

Toss Winner Loses Match: 318170 matches, 50.43%
Toss Winner Wins Match: 312707 matches, 49.57%

In [13]:
import sqlite3

# Connect to the database
connection = sqlite3.connect('cricsheet_database.db')
cursor = connection.cursor()

# SQL query to find the top 10 bowlers who gave the most extra runs
query = """
SELECT 
    Bowler AS Bowler_Name,
    SUM([Extras_Runs]) AS Total_Extras
FROM 
    t20_matches
WHERE 
    Bowler IS NOT NULL AND Bowler != ''
GROUP BY 
    Bowler
ORDER BY 
    Total_Extras DESC
LIMIT 10;
"""

# Execute the query
cursor.execute(query)

# Fetch and display the results
results = cursor.fetchall()
print("Top 10 Bowlers with Most Extra Runs:")
for rank, (bowler, total_extras) in enumerate(results, start=1):
    print(f"{rank}. {bowler} - {total_extras} extra runs")

# Close the connection
connection.close()

Top 10 Bowlers with Most Extra Runs:
1. ML Schutt - 236 extra runs
2. MA Starc - 194 extra runs
3. TG Southee - 180 extra runs
4. SL Malinga - 176 extra runs
5. Mustafizur Rahman - 176 extra runs
6. M Akayezu - 166 extra runs
7. PA van Meekeren - 153 extra runs
8. MR Adair - 150 extra runs
9. Shaheen Shah Afridi - 148 extra runs
10. A Shrubsole - 144 extra runs